*{
  box-sizing: border-box;
}

body {
  margin:0px;
  font-size:16px;

  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'PT Sans Narrow', sans-serif;
  color:#B01055;
}

a:hover{
  color:#B01055;
  text-decoration: underline;
}

header {
  background: white;
  padding-top:30px;
  padding-bottom:10px;
  text-align: center;
  max-height: 25%;
  border-bottom: medium #B01055;
  box-shadow: 2px 2px 1px #B01055;
}


a{
  color: #000000;
}

header h1 {
font-weight: bold;
text-transform: uppercase;
color: white;

}

header h2{
  color: #B01055;
}

.logo {
   
  height: auto;
  max-width: 100px;
  margin-left: 0px;
}

.thumbnail {
 width: 300px; 
}

.thumbnail img {
 width: 100px;
 height: auto;
 border: 3px #B01055;
 
}


h3{
  padding-top: 30px;
  color: black;
}


.intro{
  margin: 20px;
}

.new-profils{
  padding:10px; 
  background: white;
  text-align: center;

}

.identite {
margin: auto;

}

.identite .femme a{
  color: #B01055;
}

.identite .nongenre a{
  color: #007067;
}

.identite .homme a{
  color: #27166D;
}


#container{
  margin: auto;
  padding: 10px;
}

/* PAGE single.php */

.intro {
  margin-left: 6%;
}

.profil {
  
  margin: 10%;
  margin-top: 0%;
  padding: 20px;
  background: #F4F7F5;
  color: black;
  border-radius: 30PX;

}

.profil_picture{
  display: block;
  text-align: center;
  margin: auto;
  
}

.profil_name{
  color: #B01055;
  text-align: center;
  font-size: xx-large;
  font-family: 'Nothing You Could Do', cursive;
}

.profil_date_inscription{
  text-align: center;
}

.description{
  text-align: center;
}


/*FOOTER */

.pagination{
  text-align: center;
  color: #FF0074;
}

#footer {
  display: block;
  padding-top:30px;
  padding-bottom:5px;
  margin-top: 5%;
  text-align: center;
  max-height: 25%;
  font-size: small;
  box-shadow: 0px -2px 5px #B01055;
}
